body {
    font-family: noto-sans,system-ui,-apple-system,Segoe UI,Roboto,Helvetica,arial,sans-serif;
    background-color: #E8E1D9;
}

.title-centered {
    text-align: center;
    font-size: 32px;
}

.img-centered {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: left;
    font-size: 20px;
}

li,
p {
    font-size: 18px;
}

a {
    text-decoration: none;
}